/** Button **/

.viewi-button {
    text-indent: 0.089em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.089em;
    border-radius: 4px;
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center;
    outline: 0;
    position: relative;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.viewi-button.has-background {
    background-color: #f5f5f5;
}

.viewi-button:before {
    background-color: currentColor;
    border-radius: inherit;
    bottom: 0;
    color: inherit;
    content: '';
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}

.viewi-button:hover:before {
    opacity: 0.08;
}

.viewi-button>.button-content .viewi-icon {
    color: inherit
}

.button-content {
    align-items: center;
    color: inherit;
    display: flex;
    flex: 1 0 auto;
    justify-content: inherit;
    line-height: normal;
    position: relative;
    transition: inherit;
    transition-property: opacity
}

.button-content .viewi-icon.viewi-icon.pos--left,
.button-content .viewi-icon.viewi-icon.pos--right {
    font-size: 18px;
    height: 18px;
    width: 18px
}

.is-ltr .button-content .viewi-icon.pos-left {
    margin-left: -4px;
    margin-right: 8px
}

.is-ltr .button-content .viewi-icon.pos-right,
.is-rtl .button-content .viewi-icon.pos-left {
    margin-left: 8px;
    margin-right: -4px
}

.is-rtl .button-content .viewi-icon.pos-right {
    margin-left: -4px;
    margin-right: 8px
}

.viewi-button.plain:not(.viewi-button.active):not(.button-loading):not(:focus):not(:hover) .button-content {
    opacity: .62
}

.button-loading .button-content {
    opacity: 0
}

.button-loader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.button-loading {
    pointer-events: none;
    transition: none
}

.button-loading .button-content {
    opacity: 0
}

.viewi-button.block {
    display: flex;
    flex: 1 0 auto;
    min-width: 100% !important;
    max-width: auto;
}

.viewi-button-absolute {
    position: absolute
}

.viewi-button-fixed {
    position: fixed
}

.viewi-button-absolute.pos-right,
.viewi-button-fixed.pos-right {
    right: 16px
}

.viewi-button-absolute.pos-left,
.viewi-button-fixed.pos-left {
    left: 16px
}

.viewi-button-absolute.pos-top,
.viewi-button-fixed.pos-top {
    top: 16px
}

.viewi-button-absolute.pos-bottom,
.viewi-button-fixed.pos-bottom {
    bottom: 16px
}

.viewi-button.disabled {
    pointer-events: none;
}

.viewi-button.outlined {
    border: thin solid;
    background-color: transparent !important;
}

.viewi-button.plain {
    background-color: transparent !important;
}

.viewi-button.plain:before {
    display: none;
}

.viewi-button.text {
    background-color: transparent !important;
}

.viewi-button.tile {
    border-radius: 0 !important;
}

.viewi-button.rounded {
    border-radius: 28px
}

.viewi-button.pill,
.viewi-button.icon {
    min-height: 0;
    min-width: 0;
    padding: 0
}

.viewi-button.icon.size-xsmall {
    height: 20px;
    width: 20px
}

.viewi-button.icon.size-small {
    height: 28px;
    width: 28px
}

.viewi-button.icon.size-default {
    height: 36px;
    width: 36px
}

.viewi-button.icon.size-large {
    height: 44px;
    width: 44px
}

.viewi-button.icon.size-xlarge {
    height: 52px;
    width: 52px
}

.viewi-button.pill {
    width: 36px;
    height: 36px;
    padding: 6px;
    border-radius: 50%
}

.viewi-button.size-default:not(.pill) {
    font-size: .875rem;
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
}

.viewi-button.size-xsmall:not(.pill) {
    font-size: 0.625rem;
    height: 20px;
    min-width: 36px;
    padding: 0 8.8888888889px;
}

.viewi-button.size-small:not(.pill) {
    font-size: 0.75rem;
    height: 28px;
    min-width: 50px;
    padding: 0 12.4444444444px;
}

.viewi-button.size-large:not(.pill) {
    font-size: 0.875rem;
    height: 44px;
    min-width: 78px;
    padding: 0 19.5555555556px;
}

.viewi-button.size-xlarge:not(.pill) {
    font-size: 1rem;
    height: 52px;
    min-width: 92px;
    padding: 0 23.1111111111px;
}

.pill.size-default {
    height: 56px;
    width: 56px;
}

.pill.size-xsmall {
    height: 32px;
    width: 32px;
}

.pill.size-small {
    height: 40px;
    width: 40px;
}

.pill.size-large {
    height: 64px;
    width: 64px;
}

.pill.size-xlarge {
    height: 72px;
    width: 72px;
}