/** viewi-input */

.input,
.viewi-input input,
.viewi-input textarea {
    color: rgba(0, 0, 0, .87)
}

.viewi-input input::-moz-placeholder,
.viewi-input textarea::-moz-placeholder {
    color: rgba(0, 0, 0, .38)
}

.viewi-input input:-ms-input-placeholder,
.viewi-input textarea:-ms-input-placeholder {
    color: rgba(0, 0, 0, .38)
}

.viewi-input input::placeholder,
.viewi-input textarea::placeholder {
    color: rgba(0, 0, 0, .38)
}

.input-is-disabled,
.input-is-disabled input,
.input-is-disabled textarea {
    color: rgba(0, 0, 0, .38)
}

.theme-dark.input,
.theme-dark.viewi-input input,
.theme-dark.viewi-input textarea {
    color: #fff
}

.theme-dark.viewi-input input::-moz-placeholder,
.theme-dark.viewi-input textarea::-moz-placeholder {
    color: hsla(0, 0%, 100%, .5)
}

.theme-dark.viewi-input input:-ms-input-placeholder,
.theme-dark.viewi-input textarea:-ms-input-placeholder {
    color: hsla(0, 0%, 100%, .5)
}

.theme-dark.viewi-input input::placeholder,
.theme-dark.viewi-input textarea::placeholder {
    color: hsla(0, 0%, 100%, .5)
}

.theme-dark.input-is-disabled,
.theme-dark.input-is-disabled input,
.theme-dark.input-is-disabled textarea {
    color: hsla(0, 0%, 100%, .5)
}

.viewi-input {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    font-size: 16px;
    letter-spacing: normal;
    max-width: 100%;
    text-align: left
}

.viewi-input .progress-linear {
    top: calc(100% - 1px);
    left: 0
}

.viewi-input input {
    max-height: 32px
}

.viewi-input input:invalid,
.viewi-input textarea:invalid {
    box-shadow: none
}

.viewi-input input:active,
.viewi-input input:focus,
.viewi-input textarea:active,
.viewi-input textarea:focus {
    outline: none
}

.viewi-input .viewi-label {
    height: 20px;
    line-height: 20px;
    letter-spacing: normal
}

.input-append-outer,
.input-prepend-outer {
    display: inline-flex;
    margin-bottom: 4px;
    margin-top: 4px;
    line-height: 1
}

.input-append-outer .viewi-icon,
.input-prepend-outer .viewi-icon {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.is-ltr .input-append-outer {
    margin-left: 9px
}

.is-ltr .input-prepend-outer,
.is-rtl .input-append-outer {
    margin-right: 9px
}

.is-rtl .input-prepend-outer {
    margin-left: 9px
}

.input-control {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-grow: 1;
    flex-wrap: wrap;
    min-width: 0;
    width: 100%
}

.input-icon {
    align-items: center;
    display: inline-flex;
    height: 24px;
    flex: 1 0 auto;
    justify-content: center;
    min-width: 24px;
    width: 24px
}

.input-icon-clear {
    border-radius: 50%
}

.input-icon-clear .icon-disabled {
    visibility: hidden
}

.input-slot {
    align-items: center;
    color: inherit;
    display: flex;
    margin-bottom: 8px;
    min-height: inherit;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    width: 100%
}

.input-dense>.input-control>.input-slot {
    margin-bottom: 4px
}

.input-is-disabled:not(.input-is-readonly) {
    pointer-events: none
}

.input-is-loading>.input-control>.input-slot:after,
.input-is-loading>.input-control>.input-slot:before {
    display: none
}

.input-hide-details>.input-control>.input-slot {
    margin-bottom: 0
}

.input-has-state.error-text .viewi-label {
    -webkit-animation: viewi-shake .6s cubic-bezier(.25, .8, .5, 1);
    animation: viewi-shake .6s cubic-bezier(.25, .8, .5, 1)
}

.input-hide-spin-buttons input::-webkit-inner-spin-button,
.input-hide-spin-buttons input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.input-hide-spin-buttons input[type=number] {
    -moz-appearance: textfield
}

.viewi-label {
    color: rgba(0, 0, 0, .6)
}

.label-is-disabled {
    color: rgba(0, 0, 0, .38)
}

.theme-dark.viewi-label {
    color: hsla(0, 0%, 100%, .7)
}

.theme-dark.label-is-disabled {
    color: hsla(0, 0%, 100%, .5)
}

.viewi-label {
    font-size: 16px;
    line-height: 1;
    min-height: 8px;
    transition: .3s cubic-bezier(.25, .8, .5, 1)
}

.label-ghost {
    opacity: 0;
    font-size: 12px;
    /** 16 * 0.75 + pad-x-3 **/
}

.input-is-label-active .label-ghost {
    padding: 0 4px;
}

.legend-ghost {
    width: 0px;
}

.input-is-label-active .legend-ghost {
    width: auto;
}

.input-checkbox.input-indeterminate.input-is-disabled {
    opacity: .6
}

.input-checkbox.input-dense {
    margin-top: 4px
}

.input-selection-controls {
    margin-top: 16px;
    padding-top: 4px
}

.input-selection-controls>.input-append-outer,
.input-selection-controls>.input-prepend-outer {
    margin-top: 0;
    margin-bottom: 0
}

.input-selection-controls:not(.input-hide-details)>.input-slot {
    margin-bottom: 12px
}

.input-selection-controls .input-slot,
.input-selection-controls .radio {
    cursor: pointer
}

.input-selection-controls .input-slot>.viewi-label,
.input-selection-controls .radio>.viewi-label {
    align-items: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: auto
}

.input-selection-controls-input {
    color: inherit;
    display: inline-flex;
    flex: 0 0 auto;
    height: 24px;
    position: relative;
    transition: .3s cubic-bezier(.25, .8, .5, 1);
    transition-property: transform;
    width: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.input-selection-controls-input .icon {
    width: 100%
}

.is-ltr .input-selection-controls-input {
    margin-right: 8px
}

.is-rtl .input-selection-controls-input {
    margin-left: 8px
}

.input-selection-controls-input input[role=checkbox],
.input-selection-controls-input input[role=radio],
.input-selection-controls-input input[role=switch] {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.input-selection-controls-input+.viewi-label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.input-selection-controls-ripple {
    border-radius: 50%;
    cursor: pointer;
    height: 34px;
    position: absolute;
    transition: inherit;
    width: 34px;
    left: -12px;
    top: calc(50% - 24px);
    margin: 7px
}

.input-selection-controls-ripple:before {
    border-radius: inherit;
    bottom: 0;
    content: "";
    position: absolute;
    opacity: .2;
    left: 0;
    right: 0;
    top: 0;
    transform-origin: center center;
    transform: scale(.2);
    transition: inherit
}

.input-selection-controls-ripple>.ripple-container {
    transform: scale(1.2)
}

.input-selection-controls.input-dense .input-selection-controls-ripple {
    width: 28px;
    height: 28px;
    left: -9px
}

.input-selection-controls.input-dense:not(.input-switch) .input-selection-controls-ripple {
    top: calc(50% - 21px)
}

.input-selection-controls.input {
    flex: 0 1 auto
}

.input-selection-controls.input-is-focused .input-selection-controls-ripple:before,
.input-selection-controls .radio-is-focused .input-selection-controls-ripple:before {
    background: currentColor;
    transform: scale(1.2)
}

.input-selection-controls.input-is-disabled:not(.input-indeterminate) .icon {
    color: inherit
}

.input-selection-controls-input:hover .input-selection-controls-ripple:before {
    background: currentColor;
    transform: scale(1.2);
    transition: none
}