.theme-light.viewi-image {
    color: rgba(0, 0, 0, .87)
}

.theme-dark.viewi-image {
    color: #fff
}

.viewi-image {
    z-index: 0
}

.image-image,
.image-placeholder {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.image-image {
    background-repeat: no-repeat
}

.image-image-preload {
    filter: blur(2px)
}

.image-image-contain {
    background-size: contain
}

.image-image-cover {
    background-size: cover
}

.viewi-avatar {
    align-items: center;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    line-height: normal;
    position: relative;
    text-align: center;
    vertical-align: middle;
    overflow: hidden
}

.viewi-avatar .viewi-icon,
.viewi-avatar .viewi-image,
.viewi-avatar .responsive-content,
.viewi-avatar img,
.viewi-avatar svg {
    border-radius: inherit;
    display: inline-flex;
    height: inherit;
    width: inherit
}

/** subheader **/

.theme-light.viewi-subheader {
    color: rgba(0, 0, 0, .6)
}

.theme-dark.viewi-subheader {
    color: hsla(0, 0%, 100%, .7)
}

.viewi-subheader {
    align-items: center;
    display: flex;
    height: 48px;
    font-size: .875rem;
    font-weight: 400;
    padding: 0 16px
}

.subheader-inset {
    margin-left: 56px
}

/** divider **/
.theme-light.viewi-divider {
    border-color: rgba(0, 0, 0, .12)
}

.theme-dark.viewi-divider {
    border-color: hsla(0, 0%, 100%, .12)
}

.viewi-divider {
    display: block;
    flex: 1 1 0px;
    max-width: 100%;
    height: 0;
    max-height: 0;
    border: solid;
    border-width: thin 0 0;
    transition: inherit
}

.divider-inset:not(.divider-vertical) {
    max-width: calc(100% - 72px)
}

.is-ltr .divider-inset:not(.divider-vertical) {
    margin-left: 72px
}

.is-rtl .divider-inset:not(.divider-vertical) {
    margin-right: 72px
}

.divider-vertical {
    align-self: stretch;
    border: solid;
    border-width: 0 thin 0 0;
    display: inline-flex;
    height: inherit;
    min-height: 100%;
    max-height: 100%;
    max-width: 0;
    width: 0;
    vertical-align: text-bottom;
    margin: 0 -1px
}

.divider-vertical.divider-inset {
    margin-top: 8px;
    min-height: 0;
    max-height: calc(100% - 16px)
}