/** Padding **/

.pa-0 {
    padding: 0px !important;
}

.pa-1 {
    padding: 4px !important;
}

.pa-2 {
    padding: 8px !important;
}

.pa-3 {
    padding: 12px !important;
}

.pa-4 {
    padding: 16px !important;
}

.pa-5 {
    padding: 20px !important;
}

.pa-6 {
    padding: 24px !important;
}

.pa-7 {
    padding: 28px !important;
}

.pa-8 {
    padding: 32px !important;
}

.pa-9 {
    padding: 36px !important;
}

.pa-10 {
    padding: 40px !important;
}

.pa-11 {
    padding: 44px !important;
}

.pa-12 {
    padding: 48px !important;
}

.pa-13 {
    padding: 52px !important;
}

.pa-14 {
    padding: 56px !important;
}

.pa-15 {
    padding: 60px !important;
}

.pa-16 {
    padding: 64px !important;
}

.pa-auto {
    padding: auto !important;
}

.px-0 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.px-1 {
    padding-right: 4px !important;
    padding-left: 4px !important;
}

.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.px-3 {
    padding-right: 12px !important;
    padding-left: 12px !important;
}

.px-4 {
    padding-right: 16px !important;
    padding-left: 16px !important;
}

.px-5 {
    padding-right: 20px !important;
    padding-left: 20px !important;
}

.px-6 {
    padding-right: 24px !important;
    padding-left: 24px !important;
}

.px-7 {
    padding-right: 28px !important;
    padding-left: 28px !important;
}

.px-8 {
    padding-right: 32px !important;
    padding-left: 32px !important;
}

.px-9 {
    padding-right: 36px !important;
    padding-left: 36px !important;
}

.px-10 {
    padding-right: 40px !important;
    padding-left: 40px !important;
}

.px-11 {
    padding-right: 44px !important;
    padding-left: 44px !important;
}

.px-12 {
    padding-right: 48px !important;
    padding-left: 48px !important;
}

.px-13 {
    padding-right: 52px !important;
    padding-left: 52px !important;
}

.px-14 {
    padding-right: 56px !important;
    padding-left: 56px !important;
}

.px-15 {
    padding-right: 60px !important;
    padding-left: 60px !important;
}

.px-16 {
    padding-right: 64px !important;
    padding-left: 64px !important;
}

.px-auto {
    padding-right: auto !important;
    padding-left: auto !important;
}

.py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.py-1 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.py-2 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.py-3 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.py-4 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.py-5 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.py-6 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.py-7 {
    padding-top: 28px !important;
    padding-bottom: 28px !important;
}

.py-8 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.py-9 {
    padding-top: 36px !important;
    padding-bottom: 36px !important;
}

.py-10 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.py-11 {
    padding-top: 44px !important;
    padding-bottom: 44px !important;
}

.py-12 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

.py-13 {
    padding-top: 52px !important;
    padding-bottom: 52px !important;
}

.py-14 {
    padding-top: 56px !important;
    padding-bottom: 56px !important;
}

.py-15 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}

.py-16 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

.py-auto {
    padding-top: auto !important;
    padding-bottom: auto !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt-1 {
    padding-top: 4px !important;
}

.pt-2 {
    padding-top: 8px !important;
}

.pt-3 {
    padding-top: 12px !important;
}

.pt-4 {
    padding-top: 16px !important;
}

.pt-5 {
    padding-top: 20px !important;
}

.pt-6 {
    padding-top: 24px !important;
}

.pt-7 {
    padding-top: 28px !important;
}

.pt-8 {
    padding-top: 32px !important;
}

.pt-9 {
    padding-top: 36px !important;
}

.pt-10 {
    padding-top: 40px !important;
}

.pt-11 {
    padding-top: 44px !important;
}

.pt-12 {
    padding-top: 48px !important;
}

.pt-13 {
    padding-top: 52px !important;
}

.pt-14 {
    padding-top: 56px !important;
}

.pt-15 {
    padding-top: 60px !important;
}

.pt-16 {
    padding-top: 64px !important;
}

.pt-auto {
    padding-top: auto !important;
}

.pr-0 {
    padding-right: 0px !important;
}

.pr-1 {
    padding-right: 4px !important;
}

.pr-2 {
    padding-right: 8px !important;
}

.pr-3 {
    padding-right: 12px !important;
}

.pr-4 {
    padding-right: 16px !important;
}

.pr-5 {
    padding-right: 20px !important;
}

.pr-6 {
    padding-right: 24px !important;
}

.pr-7 {
    padding-right: 28px !important;
}

.pr-8 {
    padding-right: 32px !important;
}

.pr-9 {
    padding-right: 36px !important;
}

.pr-10 {
    padding-right: 40px !important;
}

.pr-11 {
    padding-right: 44px !important;
}

.pr-12 {
    padding-right: 48px !important;
}

.pr-13 {
    padding-right: 52px !important;
}

.pr-14 {
    padding-right: 56px !important;
}

.pr-15 {
    padding-right: 60px !important;
}

.pr-16 {
    padding-right: 64px !important;
}

.pr-auto {
    padding-right: auto !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pb-1 {
    padding-bottom: 4px !important;
}

.pb-2 {
    padding-bottom: 8px !important;
}

.pb-3 {
    padding-bottom: 12px !important;
}

.pb-4 {
    padding-bottom: 16px !important;
}

.pb-5 {
    padding-bottom: 20px !important;
}

.pb-6 {
    padding-bottom: 24px !important;
}

.pb-7 {
    padding-bottom: 28px !important;
}

.pb-8 {
    padding-bottom: 32px !important;
}

.pb-9 {
    padding-bottom: 36px !important;
}

.pb-10 {
    padding-bottom: 40px !important;
}

.pb-11 {
    padding-bottom: 44px !important;
}

.pb-12 {
    padding-bottom: 48px !important;
}

.pb-13 {
    padding-bottom: 52px !important;
}

.pb-14 {
    padding-bottom: 56px !important;
}

.pb-15 {
    padding-bottom: 60px !important;
}

.pb-16 {
    padding-bottom: 64px !important;
}

.pb-auto {
    padding-bottom: auto !important;
}

.pl-0 {
    padding-left: 0px !important;
}

.pl-1 {
    padding-left: 4px !important;
}

.pl-2 {
    padding-left: 8px !important;
}

.pl-3 {
    padding-left: 12px !important;
}

.pl-4 {
    padding-left: 16px !important;
}

.pl-5 {
    padding-left: 20px !important;
}

.pl-6 {
    padding-left: 24px !important;
}

.pl-7 {
    padding-left: 28px !important;
}

.pl-8 {
    padding-left: 32px !important;
}

.pl-9 {
    padding-left: 36px !important;
}

.pl-10 {
    padding-left: 40px !important;
}

.pl-11 {
    padding-left: 44px !important;
}

.pl-12 {
    padding-left: 48px !important;
}

.pl-13 {
    padding-left: 52px !important;
}

.pl-14 {
    padding-left: 56px !important;
}

.pl-15 {
    padding-left: 60px !important;
}

.pl-16 {
    padding-left: 64px !important;
}

.pl-auto {
    padding-left: auto !important;
}


@media(min-width:600px) {
    .pa-sm-0 {
        padding: 0px !important;
    }

    .pa-sm-1 {
        padding: 4px !important;
    }

    .pa-sm-2 {
        padding: 8px !important;
    }

    .pa-sm-3 {
        padding: 12px !important;
    }

    .pa-sm-4 {
        padding: 16px !important;
    }

    .pa-sm-5 {
        padding: 20px !important;
    }

    .pa-sm-6 {
        padding: 24px !important;
    }

    .pa-sm-7 {
        padding: 28px !important;
    }

    .pa-sm-8 {
        padding: 32px !important;
    }

    .pa-sm-9 {
        padding: 36px !important;
    }

    .pa-sm-10 {
        padding: 40px !important;
    }

    .pa-sm-11 {
        padding: 44px !important;
    }

    .pa-sm-12 {
        padding: 48px !important;
    }

    .pa-sm-13 {
        padding: 52px !important;
    }

    .pa-sm-14 {
        padding: 56px !important;
    }

    .pa-sm-15 {
        padding: 60px !important;
    }

    .pa-sm-16 {
        padding: 64px !important;
    }

    .pa-sm-auto {
        padding: auto !important;
    }

    .px-sm-0 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .px-sm-1 {
        padding-right: 4px !important;
        padding-left: 4px !important;
    }

    .px-sm-2 {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }

    .px-sm-3 {
        padding-right: 12px !important;
        padding-left: 12px !important;
    }

    .px-sm-4 {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }

    .px-sm-5 {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .px-sm-6 {
        padding-right: 24px !important;
        padding-left: 24px !important;
    }

    .px-sm-7 {
        padding-right: 28px !important;
        padding-left: 28px !important;
    }

    .px-sm-8 {
        padding-right: 32px !important;
        padding-left: 32px !important;
    }

    .px-sm-9 {
        padding-right: 36px !important;
        padding-left: 36px !important;
    }

    .px-sm-10 {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }

    .px-sm-11 {
        padding-right: 44px !important;
        padding-left: 44px !important;
    }

    .px-sm-12 {
        padding-right: 48px !important;
        padding-left: 48px !important;
    }

    .px-sm-13 {
        padding-right: 52px !important;
        padding-left: 52px !important;
    }

    .px-sm-14 {
        padding-right: 56px !important;
        padding-left: 56px !important;
    }

    .px-sm-15 {
        padding-right: 60px !important;
        padding-left: 60px !important;
    }

    .px-sm-16 {
        padding-right: 64px !important;
        padding-left: 64px !important;
    }

    .px-sm-auto {
        padding-right: auto !important;
        padding-left: auto !important;
    }

    .py-sm-0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .py-sm-1 {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .py-sm-2 {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .py-sm-3 {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .py-sm-4 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }

    .py-sm-5 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .py-sm-6 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }

    .py-sm-7 {
        padding-top: 28px !important;
        padding-bottom: 28px !important;
    }

    .py-sm-8 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }

    .py-sm-9 {
        padding-top: 36px !important;
        padding-bottom: 36px !important;
    }

    .py-sm-10 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .py-sm-11 {
        padding-top: 44px !important;
        padding-bottom: 44px !important;
    }

    .py-sm-12 {
        padding-top: 48px !important;
        padding-bottom: 48px !important;
    }

    .py-sm-13 {
        padding-top: 52px !important;
        padding-bottom: 52px !important;
    }

    .py-sm-14 {
        padding-top: 56px !important;
        padding-bottom: 56px !important;
    }

    .py-sm-15 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .py-sm-16 {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }

    .py-sm-auto {
        padding-top: auto !important;
        padding-bottom: auto !important;
    }

    .pt-sm-0 {
        padding-top: 0px !important;
    }

    .pt-sm-1 {
        padding-top: 4px !important;
    }

    .pt-sm-2 {
        padding-top: 8px !important;
    }

    .pt-sm-3 {
        padding-top: 12px !important;
    }

    .pt-sm-4 {
        padding-top: 16px !important;
    }

    .pt-sm-5 {
        padding-top: 20px !important;
    }

    .pt-sm-6 {
        padding-top: 24px !important;
    }

    .pt-sm-7 {
        padding-top: 28px !important;
    }

    .pt-sm-8 {
        padding-top: 32px !important;
    }

    .pt-sm-9 {
        padding-top: 36px !important;
    }

    .pt-sm-10 {
        padding-top: 40px !important;
    }

    .pt-sm-11 {
        padding-top: 44px !important;
    }

    .pt-sm-12 {
        padding-top: 48px !important;
    }

    .pt-sm-13 {
        padding-top: 52px !important;
    }

    .pt-sm-14 {
        padding-top: 56px !important;
    }

    .pt-sm-15 {
        padding-top: 60px !important;
    }

    .pt-sm-16 {
        padding-top: 64px !important;
    }

    .pt-sm-auto {
        padding-top: auto !important;
    }

    .pr-sm-0 {
        padding-right: 0px !important;
    }

    .pr-sm-1 {
        padding-right: 4px !important;
    }

    .pr-sm-2 {
        padding-right: 8px !important;
    }

    .pr-sm-3 {
        padding-right: 12px !important;
    }

    .pr-sm-4 {
        padding-right: 16px !important;
    }

    .pr-sm-5 {
        padding-right: 20px !important;
    }

    .pr-sm-6 {
        padding-right: 24px !important;
    }

    .pr-sm-7 {
        padding-right: 28px !important;
    }

    .pr-sm-8 {
        padding-right: 32px !important;
    }

    .pr-sm-9 {
        padding-right: 36px !important;
    }

    .pr-sm-10 {
        padding-right: 40px !important;
    }

    .pr-sm-11 {
        padding-right: 44px !important;
    }

    .pr-sm-12 {
        padding-right: 48px !important;
    }

    .pr-sm-13 {
        padding-right: 52px !important;
    }

    .pr-sm-14 {
        padding-right: 56px !important;
    }

    .pr-sm-15 {
        padding-right: 60px !important;
    }

    .pr-sm-16 {
        padding-right: 64px !important;
    }

    .pr-sm-auto {
        padding-right: auto !important;
    }

    .pb-sm-0 {
        padding-bottom: 0px !important;
    }

    .pb-sm-1 {
        padding-bottom: 4px !important;
    }

    .pb-sm-2 {
        padding-bottom: 8px !important;
    }

    .pb-sm-3 {
        padding-bottom: 12px !important;
    }

    .pb-sm-4 {
        padding-bottom: 16px !important;
    }

    .pb-sm-5 {
        padding-bottom: 20px !important;
    }

    .pb-sm-6 {
        padding-bottom: 24px !important;
    }

    .pb-sm-7 {
        padding-bottom: 28px !important;
    }

    .pb-sm-8 {
        padding-bottom: 32px !important;
    }

    .pb-sm-9 {
        padding-bottom: 36px !important;
    }

    .pb-sm-10 {
        padding-bottom: 40px !important;
    }

    .pb-sm-11 {
        padding-bottom: 44px !important;
    }

    .pb-sm-12 {
        padding-bottom: 48px !important;
    }

    .pb-sm-13 {
        padding-bottom: 52px !important;
    }

    .pb-sm-14 {
        padding-bottom: 56px !important;
    }

    .pb-sm-15 {
        padding-bottom: 60px !important;
    }

    .pb-sm-16 {
        padding-bottom: 64px !important;
    }

    .pb-sm-auto {
        padding-bottom: auto !important;
    }

    .pl-sm-0 {
        padding-left: 0px !important;
    }

    .pl-sm-1 {
        padding-left: 4px !important;
    }

    .pl-sm-2 {
        padding-left: 8px !important;
    }

    .pl-sm-3 {
        padding-left: 12px !important;
    }

    .pl-sm-4 {
        padding-left: 16px !important;
    }

    .pl-sm-5 {
        padding-left: 20px !important;
    }

    .pl-sm-6 {
        padding-left: 24px !important;
    }

    .pl-sm-7 {
        padding-left: 28px !important;
    }

    .pl-sm-8 {
        padding-left: 32px !important;
    }

    .pl-sm-9 {
        padding-left: 36px !important;
    }

    .pl-sm-10 {
        padding-left: 40px !important;
    }

    .pl-sm-11 {
        padding-left: 44px !important;
    }

    .pl-sm-12 {
        padding-left: 48px !important;
    }

    .pl-sm-13 {
        padding-left: 52px !important;
    }

    .pl-sm-14 {
        padding-left: 56px !important;
    }

    .pl-sm-15 {
        padding-left: 60px !important;
    }

    .pl-sm-16 {
        padding-left: 64px !important;
    }

    .pl-sm-auto {
        padding-left: auto !important;
    }

}


@media(min-width:960px) {
    .pa-md-0 {
        padding: 0px !important;
    }

    .pa-md-1 {
        padding: 4px !important;
    }

    .pa-md-2 {
        padding: 8px !important;
    }

    .pa-md-3 {
        padding: 12px !important;
    }

    .pa-md-4 {
        padding: 16px !important;
    }

    .pa-md-5 {
        padding: 20px !important;
    }

    .pa-md-6 {
        padding: 24px !important;
    }

    .pa-md-7 {
        padding: 28px !important;
    }

    .pa-md-8 {
        padding: 32px !important;
    }

    .pa-md-9 {
        padding: 36px !important;
    }

    .pa-md-10 {
        padding: 40px !important;
    }

    .pa-md-11 {
        padding: 44px !important;
    }

    .pa-md-12 {
        padding: 48px !important;
    }

    .pa-md-13 {
        padding: 52px !important;
    }

    .pa-md-14 {
        padding: 56px !important;
    }

    .pa-md-15 {
        padding: 60px !important;
    }

    .pa-md-16 {
        padding: 64px !important;
    }

    .pa-md-auto {
        padding: auto !important;
    }

    .px-md-0 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .px-md-1 {
        padding-right: 4px !important;
        padding-left: 4px !important;
    }

    .px-md-2 {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }

    .px-md-3 {
        padding-right: 12px !important;
        padding-left: 12px !important;
    }

    .px-md-4 {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }

    .px-md-5 {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .px-md-6 {
        padding-right: 24px !important;
        padding-left: 24px !important;
    }

    .px-md-7 {
        padding-right: 28px !important;
        padding-left: 28px !important;
    }

    .px-md-8 {
        padding-right: 32px !important;
        padding-left: 32px !important;
    }

    .px-md-9 {
        padding-right: 36px !important;
        padding-left: 36px !important;
    }

    .px-md-10 {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }

    .px-md-11 {
        padding-right: 44px !important;
        padding-left: 44px !important;
    }

    .px-md-12 {
        padding-right: 48px !important;
        padding-left: 48px !important;
    }

    .px-md-13 {
        padding-right: 52px !important;
        padding-left: 52px !important;
    }

    .px-md-14 {
        padding-right: 56px !important;
        padding-left: 56px !important;
    }

    .px-md-15 {
        padding-right: 60px !important;
        padding-left: 60px !important;
    }

    .px-md-16 {
        padding-right: 64px !important;
        padding-left: 64px !important;
    }

    .px-md-auto {
        padding-right: auto !important;
        padding-left: auto !important;
    }

    .py-md-0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .py-md-1 {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .py-md-2 {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .py-md-3 {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .py-md-4 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }

    .py-md-5 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .py-md-6 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }

    .py-md-7 {
        padding-top: 28px !important;
        padding-bottom: 28px !important;
    }

    .py-md-8 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }

    .py-md-9 {
        padding-top: 36px !important;
        padding-bottom: 36px !important;
    }

    .py-md-10 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .py-md-11 {
        padding-top: 44px !important;
        padding-bottom: 44px !important;
    }

    .py-md-12 {
        padding-top: 48px !important;
        padding-bottom: 48px !important;
    }

    .py-md-13 {
        padding-top: 52px !important;
        padding-bottom: 52px !important;
    }

    .py-md-14 {
        padding-top: 56px !important;
        padding-bottom: 56px !important;
    }

    .py-md-15 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .py-md-16 {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }

    .py-md-auto {
        padding-top: auto !important;
        padding-bottom: auto !important;
    }

    .pt-md-0 {
        padding-top: 0px !important;
    }

    .pt-md-1 {
        padding-top: 4px !important;
    }

    .pt-md-2 {
        padding-top: 8px !important;
    }

    .pt-md-3 {
        padding-top: 12px !important;
    }

    .pt-md-4 {
        padding-top: 16px !important;
    }

    .pt-md-5 {
        padding-top: 20px !important;
    }

    .pt-md-6 {
        padding-top: 24px !important;
    }

    .pt-md-7 {
        padding-top: 28px !important;
    }

    .pt-md-8 {
        padding-top: 32px !important;
    }

    .pt-md-9 {
        padding-top: 36px !important;
    }

    .pt-md-10 {
        padding-top: 40px !important;
    }

    .pt-md-11 {
        padding-top: 44px !important;
    }

    .pt-md-12 {
        padding-top: 48px !important;
    }

    .pt-md-13 {
        padding-top: 52px !important;
    }

    .pt-md-14 {
        padding-top: 56px !important;
    }

    .pt-md-15 {
        padding-top: 60px !important;
    }

    .pt-md-16 {
        padding-top: 64px !important;
    }

    .pt-md-auto {
        padding-top: auto !important;
    }

    .pr-md-0 {
        padding-right: 0px !important;
    }

    .pr-md-1 {
        padding-right: 4px !important;
    }

    .pr-md-2 {
        padding-right: 8px !important;
    }

    .pr-md-3 {
        padding-right: 12px !important;
    }

    .pr-md-4 {
        padding-right: 16px !important;
    }

    .pr-md-5 {
        padding-right: 20px !important;
    }

    .pr-md-6 {
        padding-right: 24px !important;
    }

    .pr-md-7 {
        padding-right: 28px !important;
    }

    .pr-md-8 {
        padding-right: 32px !important;
    }

    .pr-md-9 {
        padding-right: 36px !important;
    }

    .pr-md-10 {
        padding-right: 40px !important;
    }

    .pr-md-11 {
        padding-right: 44px !important;
    }

    .pr-md-12 {
        padding-right: 48px !important;
    }

    .pr-md-13 {
        padding-right: 52px !important;
    }

    .pr-md-14 {
        padding-right: 56px !important;
    }

    .pr-md-15 {
        padding-right: 60px !important;
    }

    .pr-md-16 {
        padding-right: 64px !important;
    }

    .pr-md-auto {
        padding-right: auto !important;
    }

    .pb-md-0 {
        padding-bottom: 0px !important;
    }

    .pb-md-1 {
        padding-bottom: 4px !important;
    }

    .pb-md-2 {
        padding-bottom: 8px !important;
    }

    .pb-md-3 {
        padding-bottom: 12px !important;
    }

    .pb-md-4 {
        padding-bottom: 16px !important;
    }

    .pb-md-5 {
        padding-bottom: 20px !important;
    }

    .pb-md-6 {
        padding-bottom: 24px !important;
    }

    .pb-md-7 {
        padding-bottom: 28px !important;
    }

    .pb-md-8 {
        padding-bottom: 32px !important;
    }

    .pb-md-9 {
        padding-bottom: 36px !important;
    }

    .pb-md-10 {
        padding-bottom: 40px !important;
    }

    .pb-md-11 {
        padding-bottom: 44px !important;
    }

    .pb-md-12 {
        padding-bottom: 48px !important;
    }

    .pb-md-13 {
        padding-bottom: 52px !important;
    }

    .pb-md-14 {
        padding-bottom: 56px !important;
    }

    .pb-md-15 {
        padding-bottom: 60px !important;
    }

    .pb-md-16 {
        padding-bottom: 64px !important;
    }

    .pb-md-auto {
        padding-bottom: auto !important;
    }

    .pl-md-0 {
        padding-left: 0px !important;
    }

    .pl-md-1 {
        padding-left: 4px !important;
    }

    .pl-md-2 {
        padding-left: 8px !important;
    }

    .pl-md-3 {
        padding-left: 12px !important;
    }

    .pl-md-4 {
        padding-left: 16px !important;
    }

    .pl-md-5 {
        padding-left: 20px !important;
    }

    .pl-md-6 {
        padding-left: 24px !important;
    }

    .pl-md-7 {
        padding-left: 28px !important;
    }

    .pl-md-8 {
        padding-left: 32px !important;
    }

    .pl-md-9 {
        padding-left: 36px !important;
    }

    .pl-md-10 {
        padding-left: 40px !important;
    }

    .pl-md-11 {
        padding-left: 44px !important;
    }

    .pl-md-12 {
        padding-left: 48px !important;
    }

    .pl-md-13 {
        padding-left: 52px !important;
    }

    .pl-md-14 {
        padding-left: 56px !important;
    }

    .pl-md-15 {
        padding-left: 60px !important;
    }

    .pl-md-16 {
        padding-left: 64px !important;
    }

    .pl-md-auto {
        padding-left: auto !important;
    }

}


@media(min-width:1264px) {
    .pa-lg-0 {
        padding: 0px !important;
    }

    .pa-lg-1 {
        padding: 4px !important;
    }

    .pa-lg-2 {
        padding: 8px !important;
    }

    .pa-lg-3 {
        padding: 12px !important;
    }

    .pa-lg-4 {
        padding: 16px !important;
    }

    .pa-lg-5 {
        padding: 20px !important;
    }

    .pa-lg-6 {
        padding: 24px !important;
    }

    .pa-lg-7 {
        padding: 28px !important;
    }

    .pa-lg-8 {
        padding: 32px !important;
    }

    .pa-lg-9 {
        padding: 36px !important;
    }

    .pa-lg-10 {
        padding: 40px !important;
    }

    .pa-lg-11 {
        padding: 44px !important;
    }

    .pa-lg-12 {
        padding: 48px !important;
    }

    .pa-lg-13 {
        padding: 52px !important;
    }

    .pa-lg-14 {
        padding: 56px !important;
    }

    .pa-lg-15 {
        padding: 60px !important;
    }

    .pa-lg-16 {
        padding: 64px !important;
    }

    .pa-lg-auto {
        padding: auto !important;
    }

    .px-lg-0 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .px-lg-1 {
        padding-right: 4px !important;
        padding-left: 4px !important;
    }

    .px-lg-2 {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }

    .px-lg-3 {
        padding-right: 12px !important;
        padding-left: 12px !important;
    }

    .px-lg-4 {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }

    .px-lg-5 {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .px-lg-6 {
        padding-right: 24px !important;
        padding-left: 24px !important;
    }

    .px-lg-7 {
        padding-right: 28px !important;
        padding-left: 28px !important;
    }

    .px-lg-8 {
        padding-right: 32px !important;
        padding-left: 32px !important;
    }

    .px-lg-9 {
        padding-right: 36px !important;
        padding-left: 36px !important;
    }

    .px-lg-10 {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }

    .px-lg-11 {
        padding-right: 44px !important;
        padding-left: 44px !important;
    }

    .px-lg-12 {
        padding-right: 48px !important;
        padding-left: 48px !important;
    }

    .px-lg-13 {
        padding-right: 52px !important;
        padding-left: 52px !important;
    }

    .px-lg-14 {
        padding-right: 56px !important;
        padding-left: 56px !important;
    }

    .px-lg-15 {
        padding-right: 60px !important;
        padding-left: 60px !important;
    }

    .px-lg-16 {
        padding-right: 64px !important;
        padding-left: 64px !important;
    }

    .px-lg-auto {
        padding-right: auto !important;
        padding-left: auto !important;
    }

    .py-lg-0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .py-lg-1 {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .py-lg-2 {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .py-lg-3 {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .py-lg-4 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }

    .py-lg-5 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .py-lg-6 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }

    .py-lg-7 {
        padding-top: 28px !important;
        padding-bottom: 28px !important;
    }

    .py-lg-8 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }

    .py-lg-9 {
        padding-top: 36px !important;
        padding-bottom: 36px !important;
    }

    .py-lg-10 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .py-lg-11 {
        padding-top: 44px !important;
        padding-bottom: 44px !important;
    }

    .py-lg-12 {
        padding-top: 48px !important;
        padding-bottom: 48px !important;
    }

    .py-lg-13 {
        padding-top: 52px !important;
        padding-bottom: 52px !important;
    }

    .py-lg-14 {
        padding-top: 56px !important;
        padding-bottom: 56px !important;
    }

    .py-lg-15 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .py-lg-16 {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }

    .py-lg-auto {
        padding-top: auto !important;
        padding-bottom: auto !important;
    }

    .pt-lg-0 {
        padding-top: 0px !important;
    }

    .pt-lg-1 {
        padding-top: 4px !important;
    }

    .pt-lg-2 {
        padding-top: 8px !important;
    }

    .pt-lg-3 {
        padding-top: 12px !important;
    }

    .pt-lg-4 {
        padding-top: 16px !important;
    }

    .pt-lg-5 {
        padding-top: 20px !important;
    }

    .pt-lg-6 {
        padding-top: 24px !important;
    }

    .pt-lg-7 {
        padding-top: 28px !important;
    }

    .pt-lg-8 {
        padding-top: 32px !important;
    }

    .pt-lg-9 {
        padding-top: 36px !important;
    }

    .pt-lg-10 {
        padding-top: 40px !important;
    }

    .pt-lg-11 {
        padding-top: 44px !important;
    }

    .pt-lg-12 {
        padding-top: 48px !important;
    }

    .pt-lg-13 {
        padding-top: 52px !important;
    }

    .pt-lg-14 {
        padding-top: 56px !important;
    }

    .pt-lg-15 {
        padding-top: 60px !important;
    }

    .pt-lg-16 {
        padding-top: 64px !important;
    }

    .pt-lg-auto {
        padding-top: auto !important;
    }

    .pr-lg-0 {
        padding-right: 0px !important;
    }

    .pr-lg-1 {
        padding-right: 4px !important;
    }

    .pr-lg-2 {
        padding-right: 8px !important;
    }

    .pr-lg-3 {
        padding-right: 12px !important;
    }

    .pr-lg-4 {
        padding-right: 16px !important;
    }

    .pr-lg-5 {
        padding-right: 20px !important;
    }

    .pr-lg-6 {
        padding-right: 24px !important;
    }

    .pr-lg-7 {
        padding-right: 28px !important;
    }

    .pr-lg-8 {
        padding-right: 32px !important;
    }

    .pr-lg-9 {
        padding-right: 36px !important;
    }

    .pr-lg-10 {
        padding-right: 40px !important;
    }

    .pr-lg-11 {
        padding-right: 44px !important;
    }

    .pr-lg-12 {
        padding-right: 48px !important;
    }

    .pr-lg-13 {
        padding-right: 52px !important;
    }

    .pr-lg-14 {
        padding-right: 56px !important;
    }

    .pr-lg-15 {
        padding-right: 60px !important;
    }

    .pr-lg-16 {
        padding-right: 64px !important;
    }

    .pr-lg-auto {
        padding-right: auto !important;
    }

    .pb-lg-0 {
        padding-bottom: 0px !important;
    }

    .pb-lg-1 {
        padding-bottom: 4px !important;
    }

    .pb-lg-2 {
        padding-bottom: 8px !important;
    }

    .pb-lg-3 {
        padding-bottom: 12px !important;
    }

    .pb-lg-4 {
        padding-bottom: 16px !important;
    }

    .pb-lg-5 {
        padding-bottom: 20px !important;
    }

    .pb-lg-6 {
        padding-bottom: 24px !important;
    }

    .pb-lg-7 {
        padding-bottom: 28px !important;
    }

    .pb-lg-8 {
        padding-bottom: 32px !important;
    }

    .pb-lg-9 {
        padding-bottom: 36px !important;
    }

    .pb-lg-10 {
        padding-bottom: 40px !important;
    }

    .pb-lg-11 {
        padding-bottom: 44px !important;
    }

    .pb-lg-12 {
        padding-bottom: 48px !important;
    }

    .pb-lg-13 {
        padding-bottom: 52px !important;
    }

    .pb-lg-14 {
        padding-bottom: 56px !important;
    }

    .pb-lg-15 {
        padding-bottom: 60px !important;
    }

    .pb-lg-16 {
        padding-bottom: 64px !important;
    }

    .pb-lg-auto {
        padding-bottom: auto !important;
    }

    .pl-lg-0 {
        padding-left: 0px !important;
    }

    .pl-lg-1 {
        padding-left: 4px !important;
    }

    .pl-lg-2 {
        padding-left: 8px !important;
    }

    .pl-lg-3 {
        padding-left: 12px !important;
    }

    .pl-lg-4 {
        padding-left: 16px !important;
    }

    .pl-lg-5 {
        padding-left: 20px !important;
    }

    .pl-lg-6 {
        padding-left: 24px !important;
    }

    .pl-lg-7 {
        padding-left: 28px !important;
    }

    .pl-lg-8 {
        padding-left: 32px !important;
    }

    .pl-lg-9 {
        padding-left: 36px !important;
    }

    .pl-lg-10 {
        padding-left: 40px !important;
    }

    .pl-lg-11 {
        padding-left: 44px !important;
    }

    .pl-lg-12 {
        padding-left: 48px !important;
    }

    .pl-lg-13 {
        padding-left: 52px !important;
    }

    .pl-lg-14 {
        padding-left: 56px !important;
    }

    .pl-lg-15 {
        padding-left: 60px !important;
    }

    .pl-lg-16 {
        padding-left: 64px !important;
    }

    .pl-lg-auto {
        padding-left: auto !important;
    }

}


@media(min-width:1904px) {
    .pa-xl-0 {
        padding: 0px !important;
    }

    .pa-xl-1 {
        padding: 4px !important;
    }

    .pa-xl-2 {
        padding: 8px !important;
    }

    .pa-xl-3 {
        padding: 12px !important;
    }

    .pa-xl-4 {
        padding: 16px !important;
    }

    .pa-xl-5 {
        padding: 20px !important;
    }

    .pa-xl-6 {
        padding: 24px !important;
    }

    .pa-xl-7 {
        padding: 28px !important;
    }

    .pa-xl-8 {
        padding: 32px !important;
    }

    .pa-xl-9 {
        padding: 36px !important;
    }

    .pa-xl-10 {
        padding: 40px !important;
    }

    .pa-xl-11 {
        padding: 44px !important;
    }

    .pa-xl-12 {
        padding: 48px !important;
    }

    .pa-xl-13 {
        padding: 52px !important;
    }

    .pa-xl-14 {
        padding: 56px !important;
    }

    .pa-xl-15 {
        padding: 60px !important;
    }

    .pa-xl-16 {
        padding: 64px !important;
    }

    .pa-xl-auto {
        padding: auto !important;
    }

    .px-xl-0 {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .px-xl-1 {
        padding-right: 4px !important;
        padding-left: 4px !important;
    }

    .px-xl-2 {
        padding-right: 8px !important;
        padding-left: 8px !important;
    }

    .px-xl-3 {
        padding-right: 12px !important;
        padding-left: 12px !important;
    }

    .px-xl-4 {
        padding-right: 16px !important;
        padding-left: 16px !important;
    }

    .px-xl-5 {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .px-xl-6 {
        padding-right: 24px !important;
        padding-left: 24px !important;
    }

    .px-xl-7 {
        padding-right: 28px !important;
        padding-left: 28px !important;
    }

    .px-xl-8 {
        padding-right: 32px !important;
        padding-left: 32px !important;
    }

    .px-xl-9 {
        padding-right: 36px !important;
        padding-left: 36px !important;
    }

    .px-xl-10 {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }

    .px-xl-11 {
        padding-right: 44px !important;
        padding-left: 44px !important;
    }

    .px-xl-12 {
        padding-right: 48px !important;
        padding-left: 48px !important;
    }

    .px-xl-13 {
        padding-right: 52px !important;
        padding-left: 52px !important;
    }

    .px-xl-14 {
        padding-right: 56px !important;
        padding-left: 56px !important;
    }

    .px-xl-15 {
        padding-right: 60px !important;
        padding-left: 60px !important;
    }

    .px-xl-16 {
        padding-right: 64px !important;
        padding-left: 64px !important;
    }

    .px-xl-auto {
        padding-right: auto !important;
        padding-left: auto !important;
    }

    .py-xl-0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .py-xl-1 {
        padding-top: 4px !important;
        padding-bottom: 4px !important;
    }

    .py-xl-2 {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .py-xl-3 {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .py-xl-4 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }

    .py-xl-5 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .py-xl-6 {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }

    .py-xl-7 {
        padding-top: 28px !important;
        padding-bottom: 28px !important;
    }

    .py-xl-8 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }

    .py-xl-9 {
        padding-top: 36px !important;
        padding-bottom: 36px !important;
    }

    .py-xl-10 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .py-xl-11 {
        padding-top: 44px !important;
        padding-bottom: 44px !important;
    }

    .py-xl-12 {
        padding-top: 48px !important;
        padding-bottom: 48px !important;
    }

    .py-xl-13 {
        padding-top: 52px !important;
        padding-bottom: 52px !important;
    }

    .py-xl-14 {
        padding-top: 56px !important;
        padding-bottom: 56px !important;
    }

    .py-xl-15 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }

    .py-xl-16 {
        padding-top: 64px !important;
        padding-bottom: 64px !important;
    }

    .py-xl-auto {
        padding-top: auto !important;
        padding-bottom: auto !important;
    }

    .pt-xl-0 {
        padding-top: 0px !important;
    }

    .pt-xl-1 {
        padding-top: 4px !important;
    }

    .pt-xl-2 {
        padding-top: 8px !important;
    }

    .pt-xl-3 {
        padding-top: 12px !important;
    }

    .pt-xl-4 {
        padding-top: 16px !important;
    }

    .pt-xl-5 {
        padding-top: 20px !important;
    }

    .pt-xl-6 {
        padding-top: 24px !important;
    }

    .pt-xl-7 {
        padding-top: 28px !important;
    }

    .pt-xl-8 {
        padding-top: 32px !important;
    }

    .pt-xl-9 {
        padding-top: 36px !important;
    }

    .pt-xl-10 {
        padding-top: 40px !important;
    }

    .pt-xl-11 {
        padding-top: 44px !important;
    }

    .pt-xl-12 {
        padding-top: 48px !important;
    }

    .pt-xl-13 {
        padding-top: 52px !important;
    }

    .pt-xl-14 {
        padding-top: 56px !important;
    }

    .pt-xl-15 {
        padding-top: 60px !important;
    }

    .pt-xl-16 {
        padding-top: 64px !important;
    }

    .pt-xl-auto {
        padding-top: auto !important;
    }

    .pr-xl-0 {
        padding-right: 0px !important;
    }

    .pr-xl-1 {
        padding-right: 4px !important;
    }

    .pr-xl-2 {
        padding-right: 8px !important;
    }

    .pr-xl-3 {
        padding-right: 12px !important;
    }

    .pr-xl-4 {
        padding-right: 16px !important;
    }

    .pr-xl-5 {
        padding-right: 20px !important;
    }

    .pr-xl-6 {
        padding-right: 24px !important;
    }

    .pr-xl-7 {
        padding-right: 28px !important;
    }

    .pr-xl-8 {
        padding-right: 32px !important;
    }

    .pr-xl-9 {
        padding-right: 36px !important;
    }

    .pr-xl-10 {
        padding-right: 40px !important;
    }

    .pr-xl-11 {
        padding-right: 44px !important;
    }

    .pr-xl-12 {
        padding-right: 48px !important;
    }

    .pr-xl-13 {
        padding-right: 52px !important;
    }

    .pr-xl-14 {
        padding-right: 56px !important;
    }

    .pr-xl-15 {
        padding-right: 60px !important;
    }

    .pr-xl-16 {
        padding-right: 64px !important;
    }

    .pr-xl-auto {
        padding-right: auto !important;
    }

    .pb-xl-0 {
        padding-bottom: 0px !important;
    }

    .pb-xl-1 {
        padding-bottom: 4px !important;
    }

    .pb-xl-2 {
        padding-bottom: 8px !important;
    }

    .pb-xl-3 {
        padding-bottom: 12px !important;
    }

    .pb-xl-4 {
        padding-bottom: 16px !important;
    }

    .pb-xl-5 {
        padding-bottom: 20px !important;
    }

    .pb-xl-6 {
        padding-bottom: 24px !important;
    }

    .pb-xl-7 {
        padding-bottom: 28px !important;
    }

    .pb-xl-8 {
        padding-bottom: 32px !important;
    }

    .pb-xl-9 {
        padding-bottom: 36px !important;
    }

    .pb-xl-10 {
        padding-bottom: 40px !important;
    }

    .pb-xl-11 {
        padding-bottom: 44px !important;
    }

    .pb-xl-12 {
        padding-bottom: 48px !important;
    }

    .pb-xl-13 {
        padding-bottom: 52px !important;
    }

    .pb-xl-14 {
        padding-bottom: 56px !important;
    }

    .pb-xl-15 {
        padding-bottom: 60px !important;
    }

    .pb-xl-16 {
        padding-bottom: 64px !important;
    }

    .pb-xl-auto {
        padding-bottom: auto !important;
    }

    .pl-xl-0 {
        padding-left: 0px !important;
    }

    .pl-xl-1 {
        padding-left: 4px !important;
    }

    .pl-xl-2 {
        padding-left: 8px !important;
    }

    .pl-xl-3 {
        padding-left: 12px !important;
    }

    .pl-xl-4 {
        padding-left: 16px !important;
    }

    .pl-xl-5 {
        padding-left: 20px !important;
    }

    .pl-xl-6 {
        padding-left: 24px !important;
    }

    .pl-xl-7 {
        padding-left: 28px !important;
    }

    .pl-xl-8 {
        padding-left: 32px !important;
    }

    .pl-xl-9 {
        padding-left: 36px !important;
    }

    .pl-xl-10 {
        padding-left: 40px !important;
    }

    .pl-xl-11 {
        padding-left: 44px !important;
    }

    .pl-xl-12 {
        padding-left: 48px !important;
    }

    .pl-xl-13 {
        padding-left: 52px !important;
    }

    .pl-xl-14 {
        padding-left: 56px !important;
    }

    .pl-xl-15 {
        padding-left: 60px !important;
    }

    .pl-xl-16 {
        padding-left: 64px !important;
    }

    .pl-xl-auto {
        padding-left: auto !important;
    }

}

