<link if="{isMaterial()}" href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
    rel="stylesheet">
<link if="{isFontAwesome4()}" href="https://cdn.jsdelivr.net/npm/font-awesome@4.x/css/font-awesome.min.css"
    rel="stylesheet">
<link if="{isFontAwesome5()}" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
<CssBundle links="{[
    '/viewi-ui/css/ress.css',
    '/viewi-ui/css/base.css',
    '/viewi-ui/css/button.css',    
    '/viewi-ui/css/alert.css',
    '/viewi-ui/css/icon.css',
    '/viewi-ui/css/grid.css',
    '/viewi-ui/css/column.css',
    '/viewi-ui/css/margin.css',
    '/viewi-ui/css/padding.css',
    '/viewi-ui/css/input.css',
    '/viewi-ui/css/text-field.css',
    '/viewi-ui/css/text-area.css',
    '/viewi-ui/css/messages.css',
    '/viewi-ui/css/switch.css'
    ]}" minify="true" shakeTree="true" combine="true" />