<div class="{getClasses()}" class.primary-text="$isFocused" class.input-is-label-active="$isFocused || $hasValue"
    class.input-is-focused="$isFocused" class.text-field-is-booted="$booted" class.error-text="$hasValidationMessages"
    class.input-has-state="$hasValidationMessages">
    <div class="input-control">
        <div class="input-slot" (click)="onClick($event)" (mousedown)="onMouseDown($event)">
            <fieldset if="$outlined" aria-hidden="true">
                <legend class="legend-ghost"><span class="notranslate label-ghost">{{ $isFocused || $hasValue ? $label :
                        '&#8203;' }}</span></legend>
            </fieldset>
            <div class="text-field-slot">
                <label if="!$solo || (!$hasValue && !$isFocused)" for="{getId()}" class="viewi-label"
                    class.label-active="$isFocused || $hasValue" class.primary-text="$isFocused"
                    class.error-text="$hasValidationMessages">$label</label>
                <input #input id="{getId()}" type="text" placeholder="{$isFocused ? $placeholder : null}"
                    (focus)="onFocus($event)" (blur)="onBlur($event)" (input)="onInput($event)"
                    (keydown)="onKeyDown($event)" model="$value" value="$value" />
            </div>
            <div class="input-append-inner">
                <div if="$clearable && $hasValue" class="input-icon input-icon-clear">
                    <Icon name="mdi-close-circle" (click)="onClearClick($event)"
                        class="{$isFocused ? 'primary-text' : null} theme-light" />
                </div>
            </div>
        </div>
        <div class="text-field-details">
            <div class="viewi-messages" class.error-text="$hasValidationMessages">
                <div class="messages-wrapper">
                    <div if="hasMessages()" foreach="getMessages() as $message" class="messages-message">$message</div>
                </div>
            </div>
            <div if="$counter" class="viewi-counter theme-light" class.error-text="$hasValidationMessages">
                {getCurrentCount()} / $counter</div>
        </div>
    </div>
</div>