<div class="{getClasses()}" class.primary-text="$isFocused" class.input-is-label-active="$isFocused || $hasValue"
    class.input-is-focused="$isFocused" class.text-field-is-booted="$booted" (click)="onClick($event)">
    <div class="input-control">
        <div class="input-slot">
            <fieldset if="$outlined" aria-hidden="true">
                <legend class="legend-ghost"><span class="notranslate label-ghost">{{ $isFocused || $hasValue ? $label :
                        '&#8203;' }}</span></legend>
            </fieldset>
            <div class="text-field-slot">
                <label if="!$solo || (!$hasValue && !$isFocused)" for="{getId()}" class="viewi-label"
                    class.label-active="$isFocused || $hasValue" class.primary-text="$isFocused">$label</label>
                <input #input id="{getId()}" type="text" placeholder="{$isFocused ? $placeholder : null}"
                    (focus)="onFocus($event)" (blur)="onBlur($event)" (input)="onInput($event)" model="$value" />
            </div>
        </div>
    </div>
</div>