<div if="$active" role="alert" class="{getClasses()}">
    <div class="alert-wrapper">
        <Icon if="{hasIcon()}" name="{getIcon()}" class="{getIconClasses()}" />
        <div class="alert-content"><slot></slot></div>        
        <div if="{hasBorder()}" class="{getBorderClasses()}"></div>
        <Btn if="$dismissible" color="{getIconColor()}" icon="true" size="small" class="alert-dismissible" (click)="onDismiss()">
            <Icon name="mdi-close-circle" />
        </Btn>
    </div>
</div>